# Dependencies
node_modules/

# Build outputs
dist/
build/
out/
.vite/

# Uploads
uploads/
server/uploads/

# Environment
.env
.env.*
*vapid-keys.json


# Logs
*.log
logs/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db